# package directories
node_modules
jspm_packages
npm-debug.log
yarn-error.log

# Serverless directories
.serverless

# esbuild directories
.esbuild


### Jetbrains PHPStorm
# General
/.idea
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
